.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-top: 2rem;
}

.CalendarContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.EventList {
  margin-left: 2rem;
  max-width: 20rem;
}

.Event {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.EventDate {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.EventText {
  margin-bottom: 0;
}

