
.calendar-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.calendar-app-header {
  text-align: center;
  margin-top: 20px;
}

.calendar-app-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-app-container p {
  margin: 2px;
}

.calendar-app-calendar {
  min-width: 90vw;
  min-height: 90vh;
}

.calendar-app-event-list {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.calendar-app-event {
  margin-bottom: 3px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar-app-event p:first-child {
  font-weight: bold;
}

.calendar-app-add-event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: white;
}

.calendar-app-add-event-page {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
}

.deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: solid #f44336 2px;
    z-index: 5px;
}

.deleteButton:hover {
  border: solid black 2px;
}

.filteredEventsList {
  display: flex;
  flex-direction: row;
  top: 50px;
}

.filteredEvents {
  margin: 8px;
  padding: 10px;
}

.calendarAppEvent {
  margin-bottom: 3px;
  padding: 15px;
  border: 1px solid #ccc;
}

.calendarAppEvent p:first-child {
  font-weight: bold;
}

.add-event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-event-form__input,
.add-event-form__textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

.add-event-form__textarea {
  height: 120px;
}

.add-event-form__submit-button,
.add-event-form__cancel-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-event-form__submit-button:hover,
.add-event-form__cancel-button:hover {
  background-color: #3e8e41;
}

.backButton {
  padding: 10px;
  background-color: rgb(86, 86, 250);
  color: white;
  border-radius: 6px;
  font-size: large;
  cursor: pointer;
}